html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;

    font-family: 'Fira Sans', sans-serif;
    line-height: 1.4;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Serif Pro', serif;
    text-transform: uppercase;
}

.root-flex-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    padding: 1rem;
}

.list-item {
    margin: 1rem 0rem 3rem 0rem;
}

.article-header > h1 {
    margin: 0px;
}

.article-header > h1 > a {
    color: #4d1b7b;
    text-decoration: none;
}

.content-summary {
    margin: 1rem 0rem 1rem 0;
}

@media screen and (min-width: 48rem) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 32px;
    }

    .list-item {
        margin: 2rem 0rem 5rem 0rem;
    }
}

@media screen and (min-width: 60rem) {
    .root-flex-container {
        flex-direction: row;
    }

    main {
        max-width: 60rem;
        margin-left: 7rem;
        padding-right: 3rem;
    }
}