<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href='{{ "css/index.css" | relURL }}'></link>
        <link rel="stylesheet" href='{{ "css/sidebar.css" | relURL }}'></link>
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,400,600|Source+Serif+Pro" rel="stylesheet">
        <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
    </head>
    <body>
        <div class="root-flex-container">
            <aside class="sidebar">
                <header class="aside-content-container site-header">
                    <h1><a href="/">{{ .Site.Params.title }}</a></h1>
                    <small>{{ .Site.Params.tagline }}</small>
                    <nav class="nav-links">
                        <div class="site-links">
                            {{range .Site.Params.links}}
                                <div class="link"><a href="{{ .href }}">{{ upper .text }}</a></div>
                            {{end}}
                        </div>
                        <div class="profile-links">
                            {{range .Site.Params.profile.links }}
                                <div class="link"><a href="{{ .href }}">{{ upper .text }}</a></div>
                            {{ end }}
                        </div>
                    </nav>
                </header>
                <div class="l-container">
                    <p class="l l1"></p>
                    <p class="l l2"></p>
                    <p class="l l3"></p>
                </div>
            </aside>
            <main>
                {{ block "main" .}} {{ end }}
            </main>
        </div>
    </body>
</html>